<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function() {
            var socket = io.connect();

            $('#red').click(function(){
               socket.emit('redbut');
            });
            
            $('#green').click(function(){
                socket.emit('greenbut');
            });

            $('#blue').click(function(){
                socket.emit('bluebut');
            });

            socket.on('serverResponse', function(color){
                console.log(color);
                $('body').css('background-color', `${color}`);
            });
        });

    </script>

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <button id="blue" class="btn-primary btn-lg">Blue</button>
            <button id="red" class="btn-danger btn-lg">Red</button>
            <button id="green" class="btn-success btn-lg">Green</button>
        </div>  <!-- end of container -->
    </div>
</body>
</html>

